<div class="container topMargin">
    <div class="news negMargin">
        <h2>Nyheter</h2>
        <article>
            <h3>Billigare träning!</h3>
            <img src="./img/woman1.jpg" alt="Nyhet 1">
        </article>
        <article>
            <h3>Nya klubbar!</h3>
            <img src="./img/gym.jpg" alt="Nyhet 2">
        </article>
    </div>
    <div class="membership">
        <h2>Medlemskap</h2>
        <article>
            <h3>Erbjudanden</h3>
            <p>Se våra hetaste erbjudanden just nu!</p>
            <img src="./img/man+woman.jpg" alt="Erbjudanden">
        </article>
        <article>
            <h3>Sverige+</h3>
            <p>Vårt största och bästa medlemskap!</p>
            <img src="./img/man.jpg" alt="Sverge+ Medlemskap">
        </article>
    </div>
</div>