<html lang="sv-se">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Kreon|Source+Sans+Pro|Work+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Rehab-Gym</title>
</head>

<body>
    <div class="overlay"></div>
    <div class="menuButton" onclick="toggleMenu()">
        <i class="material-icons">keyboard_arrow_left</i>
    </div>
    <div class="menu">
        <ul>
            <a href="./index.html"><li>Hem</li></a>
            <li>Logga in</li>
            <li>Boka</li>
            <li>Våra klubbar</li>
            <a href="./membership.html"><li>Medlemskap</li></a>
            <a href="./prices.html"><li>Priser</li></a>
            <li>Om oss</li>
        </ul>
    </div>
    <a href="./index.html"><img src="./img/logo.png" alt="Gym Logga"></a>
    <%= yield %>
    <footer>
            <h2>Rehab Gym</h2>
            <table>
                <tr>
                    <td>Tel. nr.</td>
                    <td>0707666999</td>
                </tr>
                <tr>
                    <td>Mail</td>
                    <td>rehab@gym.se</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <img src="./img/facebook.png" alt="Facebook" srcset="">
                    </td>
                    <td>
                        Rehab Gym
                    </td>
                    <td>
                        <img src="./img/instagram.png" alt="Instagram" srcset="">
                    </td>
                    <td>
                        @rehabgym
                    </td>
                </tr>
            </table>
    </footer>
    <script src="./js/main.js"></script>
</body>

</html>