<header class="pageTitle">
    <h1>Medlemskap</h1>
</header>
<div class="container gutter">
        <article>
            <h2>Standard</h2>
            <p>Standard medlemskapet erbjuder detta och detta på vissa utvalda gym i ditt område.</p>
            <img src="./img/man.jpg" alt="Tränande man">
        </article>
        <article>
            <h2>Sverige+</h2>
            <p>Sverige+ erbjuder allt standard gör men på många fler klubbar vart som helst i Sverige.</p>
            <img src="./img/man+woman.jpg" alt="Tränande man och kvinna">
        </article>
        <article>
            <h2>Premium</h2>
            <p>Vårt premium medlemskap erbjuder det bästa av Rehab Gym. Träna vart du vill, när du vill och hur du vill.</p>
            <img src="./img/gym.jpg" alt="Vikter">
        </article>
        <article>
            <h2>Student</h2>
            <p>Ett student medlemskap för dig som pluggar på heltid. Visa upp ditt mecenat-kort för rabbat på allt i hela världen.</p>
            <img src="./img/woman1.jpg" alt="Kvinna som tränar">
        </article>
</div>