<header>
    <h1>Priser</h1>
</header>
<div class="container">
    <div class="price-box">
        <h2>Medlemskap</h2>
        <table>
            <tr>
                <td>Standard</td>
                <td>299 kr/månad</td>
            </tr>
            <tr>
                <td>Sverige+</td>
                <td>399 kr/månad</td>
            </tr>
            <tr>
                <td>Premium</td>
                <td>499 kr/månad</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>199 kr/månad</td>
            </tr>
        </table>
    </div>
    <div class="price-box">
        <h2>Träning</h2>
        <table>
            <tr>
                <td>Engångs träning</td>
                <td>100 kr</td>
            </tr>
            <tr>
                <td>10 gång klippkort</td>
                <td>900 kr</td>
            </tr>
            <tr>
                <td>Senior</td>
                <td>80 kr</td>
            </tr>
            <tr>
                <td>Träningspass</td>
                <td>200 kr</td>
            </tr>
        </table>
    </div>
    <div class="price-box">
        <h2>Personlig Tränare</h2>
        <table>
            <tr>
                <td>Standard</td>
                <td>500 kr</td>
            </tr>
            <tr>
                <td>Tränare+</td>
                <td>700 kr</td>
            </tr>
            <tr>
                <td>Coach</td>
                <td>400 kr</td>
            </tr>
            <tr>
                <td>VIP Tränare</td>
                <td>4200 kr</td>
            </tr>
        </table>
    </div>
    <div class="price-box">
        <h2>Dietist</h2>
        <table>
            <tr>
                <td>Uppstartsmöte</td>
                <td>690 kr</td>
            </tr>
            <tr>
                <td>Uppstartsmöte + 1 Uppföljningsbesök</td>
                <td>2010 kr</td>
            </tr>
            <tr>
                <td>Uppstartsmöte + 3 Uppföljningsmöten</td>
                <td>2960 kr</td>
            </tr>
            <tr>
                <td>Enstaka uppföljning</td>
                <td>495 kr</td>
            </tr>
        </table>
    </div>
</div>