.news {
    grid-row: span 4;
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
}

.membership {
    grid-row: span 4;
    padding: 5px;
}

.membership h2 {
    margin-bottom: 0px;
}
.membership h3 {
    margin-top: 0px;
    margin-bottom: 2px;
}

.membership p {
    margin-top: 0px;
    margin-bottom: 2px;
}

.membership article {
    margin: 5px;
}

@media only screen and (min-device-width: 799px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 12vh;
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .container>div {
        margin-left: auto;
        margin-right: auto;
    }

    .membership {
        grid-column: 1;
        grid-row: 1/3;
    }
    
    .news {
        grid-column: 2;
        grid-row: 1/3;
    }

    article img {
        width: 35vw;
        height: auto;
    }
}