header h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    grid-template-rows: repeat(7, 1fr);
}

.memberships {
    margin: 0px;
    padding-top: 0px;
    grid-row: span 6;
}

.memberships h2, p {
    margin-left: 10px;
}

.memberships img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.memberships article {
    margin-top: 10px;
}