body {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    margin: 0px;
    padding: 0px;
}

body>a>img {
    width: 100vw;
    height: auto;
}

article>img {
    width: 92vw;
    height: auto;
}

h1 {
    font-family: 'Kreon', serif;
    font-size: 46px;
    color: #313131;
}

h2 {
    font-family: 'Kreon', serif;
    font-size: 32px;
    color: #297F2D;
    margin: 0px;
}

h3 {
    font-family: 'Kreon', serif;
    font-size: 20px;
    color: #354A32;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #313131;
}

a {
    text-decoration: none;
}

.menu {
    position: fixed;
    background-color: #00BD4A;
    width: 50%;
    height: 100vh;
    left: 100vw;
    transition: 0.5s ease-in-out;
}

.menu li {
    color: #FFF;
    font-size: 20px;
    font-family: 'Kreon', serif;
    list-style-type: none;
    text-align: right;
    border-bottom: #FFF solid 1px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding-right: 10vw;
    margin-top: 0px;
}

.show {
    left: 50vw;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.menuButton {
    top: 50%;
    right: 0;
    position: fixed;
    opacity: 0.5;
    background-color: #00BD4A;
    transform: translateY(-50%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 0%;
    padding-top: 30px;
    padding-left: -15px;
    height: 80px;
    width: 40px;
    transition: opacity 0.2s linear, right 0.5s ease-in-out, top 0.2s ease-in-out;
}

.menuButton:hover {
    opacity: 1;
    /* transition: opacity 0.2s linear;
    transition: right 0.5s ease-in-out; */
}

.active {
    right: 50vw;
    opacity: 1;
    transition: opacity 0.2s linear;
    transition: right 0.5s ease-in-out;
}

i.material-icons {
    font-size: 50px;
    color: #FFFFFF;
}

.overlay {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    margin: none;
    padding: none;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0;
    visibility: none;
    transition: visibility 0s, opacity 0.5s, linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
}

.displayed {
    pointer-events: all;
    visibility: visible;
    opacity: 0.7;
}

footer {
    background-color: #00BD4A;
    padding-top: 3vh;
    height: 29vh;
}

footer>h2 {
    text-align: center;
    color: #FFF;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

footer table {
    border-spacing: 60px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

footer td {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

footer td:nth-of-type(2n) {
    text-align: right;
}

footer img {
    width: 40px;
    height: auto;
    margin: 0px;
}

footer table:nth-of-type(2) {
    border-spacing: 20px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

@media only screen and (min-device-width: 799px) {
    
    body>a>img {
        height: 10vh;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .menuButton {
        display: none;
    }

    .container img {
        width: 30vw;
        height: auto;
    }

    .container {
        height: 100%;
    }

    footer tr>td>img {
        width: 40px !important;
        height: auto;
        margin: 0px;
    }

    footer {
        height: 20vh;
        padding-top: 5vh;
    }

    .menu {
        position: absolute;
        left: 11%;
        top: 0;
        width: 89%;
        height: 10vh;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 10vh;
        padding-right: 10vw;
        margin-top: 3vh;
    }

    .menu li {
        list-style-type: none;
        text-align: right;
        border-bottom: none;
        font-size: 30px;
    }

}
