.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
}

header {
    grid-row: span 2;
    grid-column: span 1;
}

header>img {
    width: 100%;
    height: auto;
}

article>img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Kreon', serif;
    font-size: 32px;
    color: #313131;
}

h2 {
    font-family: 'Kreon', serif;
    font-size: 20px;
    color: #297F2D;
}

h3 {
    font-family: 'Kreon', serif;
    font-size: 16px;
    color: #354A32;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: #313131;
}